<h2>Listings</h2>
<div class="card-deck">
        {{#each entries}}
		{{! backend only hidden comments}}
		<div class="card" style="width: 18rem;">
			<img class="card-img-top img-fluid" src="https://picsum.photos/300/200" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title"><strong>{{name}}</strong></h5>
				<p class="card-text">{{desc}}</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">Posted 3 mins ago (ID: {{pid}})</small>
			</div>
		</div>        
		 <!--<a style="all: inherit;" href="/items/{{pid}}">{{name}} - {{#if price}} {{../currency.symbol}}{{price}} {{else}} Free {{/if}} - {{desc}}</a>-->
        {{/each}}
</div>
