<ul>
	<li style="list-style-type: none; margin-left: 20px;"><img src="{{icon}}"></li>
	<li style="font-weight: bold;">Weather for {{name}}, {{region}}, {{country}}</li>
	<li>It is currently {{temp}} and feels like {{feelslike}}</li>
</ul>
